* {
	box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);
 
  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
}

a {
   color: #fff;
  text-decoration: none;
}

a:hover {
   color: #f00;
  
}

.container {
  display: flex;
  flex-wrap: wrap;

}
.header {
  min-height: 100px;
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;   
}
.main {
  min-height: 100px;
  
  flex-grow: 1;
  min-height: calc(100vh - 199px);
  padding-left: 15px;
  padding-right: 15px;
}
.left {
  min-height: 100px;
  background-color: orange;
  width: 250px;
  order: -1;
  
}
.right {
  min-height: 100px;
  background-color: #f0f;
  width: 200px;
}
.footer {
  min-height: 100px;
  background-color: #00f
}

.logo__image {
  display: block;
  margin: 0 auto;
  min-width: 400px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.logo__title {
display: block;
text-align: center;
font-size: 2rem;
line-height: 3rem;
letter-spacing: 5px;
color: #ffffff; 
padding: 15px 20px;
}

.logo__description {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
  letter-spacing: 3px;
  padding: 0 20px 15px;
  line-height: 1.75rem;
}

.menu__list {
  padding: 0;
  list-style: none;
  display: table;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.menu  {
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 7px 7px;
}

.menu__item {
  float: left;
  margin-left: 5px;
  
}

.menu__item a {
  padding: 10px 15px;
 
  border-radius: 4px;
  
}

.menu__item a:hover{  
  background-color: rgba(0, 0, 0, 0.5);
}

.menu__item:last-child {
  margin-right: 5px;
  
}

.menu__item.active a {
  
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
   background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    text-align: left;
    padding: 10px 30px;
    border-radius: 7px;
    color: #fff;
    font-size: 22px;

}

.bredcrumb {
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    text-align: right;
    padding: 10px 30px;
    border-radius: 7px;

}
.bredcrumb a {
  font-weight: bold;
}

.bredcrumb .fas {
  color: #fff;
  padding: 0px 5px 0px 9px;
  display: inline-block;
  margin-bottom: -3px; 
  font-size: 14px;
}


.bredcrumb span {
  color: #ccc;
letter-spacing: 2px;
font-size: 0.8rem;
text-transform: uppercase;
}

.content-item {
  padding: 10px;
  width: 33.33333%;
  flex-grow: 1;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.3);
}



.content-item div {
  background-color: #777;
  height: 100px;
}

.content-item__wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  
  
}

.content-tem__image {
    position: absolute;
    max-width: 100%;
    

    
}

.content-item__title {
  height: 40px;
  position: absolute;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;

}



.content-item__description {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  font-size: 0.9rem;
  color: #fff;
  padding-top: 50px;
  text-align: center;
  max-height: 100%; 
  overflow: hidden;

}

.content-item__description:hover {
    height: calc(100% - 40px) ;
}

.content {
  display: flex;
  flex-wrap: wrap ;
   margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
}



@media (max-width: 1024px) {
  .right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .left {
    width: 50%;
    order: 0;
  }
  .right {
    width: 50%;
  }

  .content-item {
    width: 50%;
  }
  .clear-menu-btn {
    display: block;
  }
  .clear-menu-btn:active {

  }

  .menu__list {
    display: none;
    float: none;
    text-align: center;
    
  }
  .menu__item  {
    float: none;
     margin-left: 10px;
     margin-right: 10px;
     display: block;
  }

  .menu__item a {
    
     display: block;
  }


}

@media (max-width: 640px) {
	.left {
    width: 100%;
    
  }
  .right {
    width: 100%;
  }
}

