

* {
	box-sizing: border-box;
}

html {
  font-family: sans-serif;
    line-height: 1.15;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #d8b036;
  background-image: url(../img/global-bg.jpg);

  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
}

a {
 color: #fff;
 text-decoration: none;
}

a:hover {
 color: #f00;

}


h3 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #333333;
}

.container {
  display: flex;
  flex-wrap: wrap;

}
.header {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  border-radius: 0 0 7px 7px;   
}
.main {
  min-height: 100px;
  
  flex-grow: 1;
  min-height: calc(100vh - 199px);
  padding-left: 15px;
  padding-right: 15px;
}
.left {
  min-height: 100px;
  width: 250px;
  order: -1;

  
}
.right {
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  border-radius: 7px 7px 7px 7px; 
}
.footer {
  min-height: 100px;
  background-color: #00f;
}

.logo__image {
  display: block;
  margin: 0 auto;
  min-width: 400px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.logo__title {
  display: block;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 5px;
  color: #ffffff; 
  padding: 15px 20px;
}

.logo__description {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: #ffffff;
  letter-spacing: 3px;
  padding: 0 20px 15px;
  line-height: 1.75rem;
}

.menu__list {
  padding: 0;
  list-style: none;
  display: table;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.menu  {
  display: table;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 7px 7px;
}

.menu__item {
  float: left;
  margin-left: 5px;
  
}

.menu__item a {
  padding: 10px 15px;

  border-radius: 4px;
  
}

.menu__item a:hover{  
  background-color: rgba(0, 0, 0, 0.7);
}

.menu__item:last-child {
  margin-right: 5px;
  
}

.menu__item.active a {

  background-color: rgba(0, 0, 0, 0.5);
}

.title {
 background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
 text-align: left;
 padding: 10px 30px;
 border-radius: 7px;
 color: #fff;
 font-size: 22px;

}

.bredcrumb {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  text-align: right;
  padding: 10px 30px;
  border-radius: 7px;

}
.bredcrumb a {
  font-weight: bold;
}

.bredcrumb .fas {
  color: #fff;
  padding: 0px 5px 0px 9px;
  display: inline-block;
  margin-bottom: -3px; 
  font-size: 14px;
}


.bredcrumb span {
  color: #ccc;
  letter-spacing: 2px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.content-item {

  padding: 5px;
  width: calc(33.33333% - 40px);
  height: auto;
  flex-grow: 1;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 10px;
  display: block;
}


.content-item div {
  background-color: #777;
  height: 135px;
}

.content-item__wrapper {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  
  
}

.content-item__wrapper a:hover .content-item__description {
  top: 40px;
  background: rgba(0, 0, 0, 0.7);
  transition: top, 0.5s;

}

.content-item__wrapper a:hover .content-item__title {
  background: rgba(0, 0, 0, 0.7);
  transition: background, 0.5s;
}

.content-item__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  


}

.content-item__title {
  height: 40px;
  position: absolute;
  margin-top: 0;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  z-index: 2;
}



.content-item__description {
  position: absolute;
  margin: 0;
  left: 0;
  top: 100%;
  font-size: 0.9rem;
  color: #fff;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  max-height: 100%; 
  overflow: hidden;
  z-index: 2;

}


.content {
  display: flex;
  flex-wrap: wrap ;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
}

.container-left {
 display: flex;
 flex-direction: column;


}

.search-bar, 
.search-category, 
.search-about {
 position: relative;
 background: rgba(0, 0, 0, 0.5);
 border-radius: 7px 7px 7px 7px; 
 padding-left: 20px;
 padding-top: 5px;
 color: #eeeeee;


}


.search-bar {
  flex: 1;
}

.search-category {
  margin-top: 20px;
  flex: 4;

}

.search-category a {
  display: block;
  color: #eeeeee;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 0;
  size: 14px;
}

.search-category a:hover {
  padding-left: 15px;
  transition: padding-left, 0.5s;
  color: red;
  background: rgba(0, 0, 0, 0.5);
}

.search-about {
  margin-top: 20px;
  flex: 3;
}

.search-about p {
  color: #cccccc;
}

.right-container {
 display: flex;
 flex-direction: column;
}

.right-container h4 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #eeeeee;
}

.right-item {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: block;
}

.right-item  img {
  float: left;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

}


.right-item  span {
  margin: 10px 0 10px 10px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #000000;
  font-size: 12px;
}


@media (max-width: 1024px) {
  .right {
    width: 100%;
  }
  .right-container {

   flex-direction: row;
 }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
  .left {
    width: 50%;
    order: 0;
  }
  .right {
    width: 50%;
  }

  .content-item {
    width: calc(50% - 20px);

  }
  .content-item div {

    height: 225px;
  }


  .clear-menu-btn {
    display: block;
  }
  .clear-menu-btn:active {

  }

  .menu__list {
    display: none;
    float: none;
    text-align: center;
    
  }
  .menu__item  {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
  }

  .menu__item a {

   display: block;
 }


}

@media (max-width: 640px) {
	.left {
    width: 100%;
    
  }
  .right {
    width: 100%;
  }
  .content-item {
    width: calc(100% - 20px);

  }
  .content-item div {

    height: 450px;
  }

}

